# CSE110 Lab Assignment 4

This Assignment is to help you develop your concept of Lists in Python.







##Write your name, student ID and CSE110 theory section number below:

In [ ]:
#STUDENT NAME: Azwad Aziz
#STUDENT ID: 21301027
#CSE110 THEORY SECTION: 09

## Write the code in Python to do the following tasks:

**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

### Task 1
Write a Python program that reads 10 numbers from the user into a list. After reading each number, print all the numbers that have been entered so far in the list. 

**Example:**\
After the user enters 3, prints “Numbers in the list: [3]”\
After the user enters 5, prints “Numbers in the list: [3, 5]”\
After the user enters 34, prints “Numbers in the list: [3, 5, 34]”\
.... and so on

In [ ]:
list_1 = []
for fx in range(10):
  user_input = int(input("Please enter a number\n"))
  list_1.append(user_input)
  print(f"Numbers in the list : {list_1}")

Please enter a number
1
Numbers in the list : [1]
Please enter a number
2
Numbers in the list : [1, 2]
Please enter a number
5
Numbers in the list : [1, 2, 5]
Please enter a number
9
Numbers in the list : [1, 2, 5, 9]
Please enter a number
7
Numbers in the list : [1, 2, 5, 9, 7]
Please enter a number
99
Numbers in the list : [1, 2, 5, 9, 7, 99]
Please enter a number
45
Numbers in the list : [1, 2, 5, 9, 7, 99, 45]
Please enter a number
5
Numbers in the list : [1, 2, 5, 9, 7, 99, 45, 5]
Please enter a number
5
Numbers in the list : [1, 2, 5, 9, 7, 99, 45, 5, 5]
Please enter a number
7
Numbers in the list : [1, 2, 5, 9, 7, 99, 45, 5, 5, 7]

### Task 2

Write a Python program that takes a list as an input from the user.Then creates a new list excluding the first and last two elements of the given list and prints the new list. If there are not enough elements in the list to do the task, the print "Not possible".

**Note:** You may use list slicing.

===================================================================

**Sample Input 1:**<br/>
[10, 20, 24, 25, 26, 35, 70]<br/>
**Sample Output 1:**<br/>
[24, 25, 26]<br/>

===================================================================

**Sample Input 2:**<br/>
[10, 20, 24, 25, 26]<br/>
**Sample Output 2:**<br/>
[24]<br/>

===================================================================

**Sample Input 3:**<br/>
[10, 20, 24, 25]<br/>
**Sample Output 3:**<br/>
[]<br/>

===================================================================

**Sample Input 4:**<br/>
[10, 20, 24]<br/>
**Sample Output 4:**<br/>
Not possible<br/>

===================================================================

In [ ]:
#to do
list_1 = input()
list_2 = list_1.replace("[" , "" , 1 )
list_3 = list_2.replace("]" , "" , 1)

list_4 = list_3.split(",")
list_5 = list(map(int , list_4))

if len(list_5) < 4:
  print("Not possible")
else:
  del list_5[-1]
  del list_5[-2] 
  del list_5[1] 
  del list_5[0] 
  print(list_5)

[10, 20, 24, 25]
[]

### Task 3

Write a python program that reads 5 numbers from the user into a list, and then prints them in the reverse order.

*Hint: You may create a list to store the input numbers and then use loop to print them in reverse order*

===================================================================

**Sample Input:**\
5\
-5\
100\
1\
0

**Sample Output:**\
0\
1\
100\
-5\
5

===================================================================

In [ ]:
#to do
list_1 = []
for fx in range(5):
  num_1 = int(input())
  list_1.append(num_1)

list_1.reverse()

for fx in list_1:
  print(fx)

1
2
2
1

### Task 4
Assume, you have been given two lists. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]\
list_two = [10, 11, 12, -13, -14, -15, -16]

Write a Python program that creates a new list with all the **even elements** of both of the given lists and prints the new list.

**Hint:** You may create a third list to store the even elements of the given lists.

===================================================================

**Output for the above lists:** [2, 4, 6, 8, 10, 12, -14, -16]

===================================================================

In [ ]:
#to do
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
list_three = []

for fx in list_one:
  if fx % 2 == 0 and fx not in list_three:
    list_three.append(fx)
  else:
    continue  

for fx in list_two:
  if fx % 2 == 0 and fx not in list_three:
    list_three.append(fx)
  else:
    continue  

print(list_three)

[2, 4, 6, 8, 10, 12, -14, -16]

### Task 5

Write a Python program that takes numbers as input into a list, removes multiple occurences of any number and then finally prints a list **without duplicate values**.

*Hint: You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.*

===================================================================

**Sample Input 1:**<br/>
0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4<br/>


**Sample Output 1:**<br/>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]<br/>

===================================================================

**Sample Input 2:**<br/>
7, 7, 7, 1, 0, 3, 3, 55, 9<br/>


**Sample Output 2:**<br/>
[7, 1, 0, 3, 55, 9]<br/>

===================================================================

In [ ]:
#to do
num_set  = input()

num_list = num_set.split(",")
num_list_2 = []

for fx in num_list:
  if int(fx) not in num_list_2:
    num_list_2.append(int(fx))
  else:
    continue  


print(num_list_2)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Task 6

Write a Python program that reads 5 numbers into a list and prints the largest number and its location or index position on the list. <font color='red'>[You are not allowed to use the max(), sort(), sorted() function here]</font>

**Hint:** Assume the first input to be the largest value initially and the largest value’s location to be 0.

**Note:** You may need to be careful while printing the output. Depending on your code, you might need data conversion.

===================================================================

**Sample Input:**\
 7, 13, 2, 10, 6

**Sample Output:**\
My list: [7, 13, 2, 10, 6]\
Largest number in the list is 13 which was found at index 1.

===================================================================

In [ ]:
#to do
num = input()
list_1 = list(map(int,num.split(",")))

x = 0
ind = 0
for fx in list_1:
  if fx > x:
    x = int(fx)
print(f"My list: {list_1}")   
print(f"Larget number in the list is {x} which was found at index {list_1.index(x)}")

7, 13, 2, 10, 6
My list: [7, 13, 2, 10, 6]
Larget number in the list is 13 which was found at index 1

### Task 7


Assume, you have been given two lists. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]

list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]\
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]

Write a Python program that creates a new list with all the **unique elements** of both the given lists. 
<font color='red'> **You need to make sure that there are no duplicates in the resulting list.**</font> Finally, print the updated list.

**Hint:** You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.

===================================================================

**Output for the above two lists**: 
[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

===================================================================

In [ ]:
#to do
list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
list_three = []

for fx in list_one:
  if fx not in list_three:
    list_three.append(fx)
  else:
    continue  

for fx in list_two:
  if fx not in list_three:
    list_three.append(fx)
  else:
    continue  

print(list_three)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

### Task 8

Write a Python program that takes two lists and prints True if they have at least one common member.

===================================================================

**Sample Input 1:**\
List_one : [1, 4, 3, 2, 6]\
List_two : [5, 6, 9, 8, 7]

**Sample Output 1:**\
True

===================================================================

**Sample Input 2:**\
List_one : [1, 4, 3, 2, 5]\
List_two : [8, 7, 6, 9]

**Sample Output 2:**\
False

===================================================================

In [ ]:
str_1 = input()
str_2 = str_1.replace("[" , "" , 1 )
str_3 = str_2.replace("]" , "" , 1)

List_one = list(map(int,str_3.split(",")))

str_4 = input()
str_5 = str_4.replace("[" , "" , 1 )
str_6 = str_5.replace("]" , "" , 1)
List_two = list(map(int,str_6.split(",")))



Flag = False

for fx in List_one:
  if fx in List_two:
    Flag = True

print(Flag)

[1, 4, 3, 2, 5]
[8, 7, 6, 9]
False

### Task 9

Write a Python program that reads 10 numbers into a list and prints the numbers of that specified list after removing **even numbers** from it.

=========================================================================

**Sample Input:**

7,12,4,55,96,2,11,61,33,42

**Sample Output:**

[7, 55, 11, 61, 33]

=========================================================================

In [ ]:
#to do
num = input().split(",")
list_1 = list(map(int,num))

list_2 = []

for fx in list_1:
  if fx % 2 == 1 and fx not in list_2:
    list_2.append(fx)
print(list_2)

7,12,4,55,96,2,11,61,33,42
[7, 55, 11, 61, 33]

### Task 10

Write a Python program that removes all Empty strings from a given list and print the new list.

=========================================================================

**Sample Input:**

["hey", "there", " ", "what's", " ", "up", " ", "?"]

**Sample Output:**

Original List:
["hey", "there", " ", "what's", " ", "up", " ", "?"]

Modified List:
["hey", "there", "what's", "up", "?"]

==========================================================================

In [ ]:
#to do
list_1 = input()

list_2 = list_1.replace("[" , "" , 1 )
list_3 = list_2.replace("]" , "" , 1)
list_4 = list_3.replace('"' , "" )
list_5 = list_4.split(",")
list_6 = []
for fx in list_5:
  if fx == '  ':
    continue
  else:
    list_6.append(fx)  

string_1 = str(list_6)

list_7 = string_1.replace("'" , '"')



print(list_7)

["hey", "there", " ", "what's", " ", "up", " ", "?"]
["hey", " there", " what"s", " up", " ?"]

## Task 11

Write a Python program that replaces the last element of first list with second list.

===================================================================

**Sample Input 1:**\
List_one : [1, 4, 7, 5]\
List_two : [6, 1, 3, 9]

**Sample Output 1:**\
[1, 4, 7, 6, 1, 3, 9]

===================================================================

**Sample Input 2:**\
List_one : [1, 3, 5, 7, 9, 10]\
List_two : [2, 4, 6, 8]

**Sample Output 2:**\
[1, 3, 5, 7, 9, 2, 4, 6, 8]

===================================================================

In [ ]:
#to do
str_1 = input()
str_2 = str_1.replace("[" , "" , 1 )
str_3 = str_2.replace("]" , "" , 1)
List_one = list(map(int,str_3.split(",")))

str_4 = input()
str_5 = str_4.replace("[" , "" , 1 )
str_6 = str_5.replace("]" , "" , 1)
List_two = list(map(int,str_6.split(",")))

List_three = []
for fx in range(len(List_one)-1):
  List_three.append(List_one[fx])
  
List_three.extend(List_two)

print(List_three)

[1, 3, 5, 7, 9, 10]
[2, 4, 6, 8]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

### Task 12

Write a Python program that turns every item of a list into its square.

===================================================================

**Sample Input 1:**\
[1, 2, 3, 4, 5, 6, 7]

**Sample Output 1:**\
[1, 4, 9, 16, 25, 36, 49]

===================================================================

**Sample Input 2:**\
[3, 5, 1, 6]

**Sample Output 2:**\
[9, 25, 1, 36]


===================================================================

In [ ]:
#to do
str_1 = input()
str_2 = str_1.replace("[" , "" , 1 )
str_3 = str_2.replace("]" , "" , 1)
List_one = list(map(int,str_3.split(",")))

List_two = []

for fx in List_one:
  List_two.append(fx**2)


print(List_two)

[3, 5, 1, 6]
[9, 25, 1, 36]

## Optional Tasks (13-15) [Ungraded]

### Task 13

Write a Python program that reads 5 numbers into a list and prints the smallest and largest number and their locations in the list. <font color='red'>[You are not allowed to use the max(), min(), sort(), sorted() functions here]</font>

**Hint:** You may assume the first input to be the largest value initially and the largest value’s location to be 0. Similarly, you can assume the first input to be the smallest value initially and the smallest value’s location to be 0. 

**Note:** You may need to be careful while printing the output. Depending on your code, you might need data conversion.

===================================================================

**Sample Input:**\
7, 13, -5, 10, 6

**Sample Output:**\
My list: [7, 13, -5, 10, 6]\
Smallest number in the list is -5 which was found at index 2\
Largest number in the list is 13 which was found at index 1

===================================================================

In [ ]:
#to do

### Task 14
Write a Python program that takes two lists as an input from the user. Then print a new list with the **common elements** of both the input lists. 

*Hint: You may need to create a third list to store the results. You can use membership operators (in, not in) to make sure similar elements are added.*

===================================================================

**Sample Input 1:**<br/>
A, B, C, D


C, E , F, B


**Sample Output 1:**<br/>
['C', 'B']

===================================================================

**Sample Input 2:**<br/>
1, 3, A, H, P


A, G, 1, P, O


**Sample Output 2:**<br/>
['1', 'A', 'P']

===================================================================

In [ ]:
# to do

### Task 15


Write a Python program that reads 5 numbers into a list and prints the second largest number and its location or index position on the list. <font color='red'>[You are not allowed to use the max(), sort(), sorted() function here]</font>

===================================================================

**Sample Input:**\
 7, 13, 2, 10, 6

**Sample Output:**\
My list: [7, 13, 2, 10, 6]\
Second largest number in the list is 10 which was found at index 3.

===================================================================

In [ ]:
# to do